<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script src='js/d3.parcoords.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello World. Welcome to our CS 594 Project <%= title %>
    ...work In progress</p>
    <div id="parcoord_id" class="parcoords" style="width:100%;height:500px"></div>
    <div id="grid" style='width:50%'></div>

  </body>
  <script src='js/parcords.js'></script>
  <script src='js/divgrid.js'></script>


</html>
