<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script src='js/d3.parcoords.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello World. Welcome to our CS 594 Project <%= title %>
    ...work In progress</p>
    <div id="parcoord_id" class="parcoords" style="width:100%;height:500px"></div>
    <div class="row">
      <div id="grid_pc" style="width:50%">Reponse</div>

<!-- going to replace this with a d3 function later so we can append multiple sets of this to the page -->
      <div id="drilldown" style="width:50%;padding:20px">
        <div class='container each'>FIRST THREAD
        </div>
        <br><br>
        <div id='row1' class="row drillrow">
          <div class="col-md-3">
            <p id="ps1">NAME</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-3">
            <p id="ps1">POSTS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-3">
            <p id="ps1">DURATION</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-3">
            <p id="ps1">RESOLUTION</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
        <div id='row2' class="row drillrow">
          <div class="col-md-6">
            <p id="ps1">SYMPTOMS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-6">
            <p id="ps1">TOOLS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
        <div id='row3' class="row drillrow">
          <div class="col-md-12">
            <p id="ps1">DESCRIPTION</p><hr>
            <p id="ps2">"text text text texttext texttext texttext texttext text"</p>
          </div>
        </div>
        <div id='row4' class="row drillrow">
          <div class="col-md-12">
            <p id="ps1">POSTS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
        <br><br>
        <div class='container each'>NEXT THREAD
        </div>
        <br><br>
        <div id='row1' class="row drillrow">
          <div class="col-md-3">
            <p id="ps1">NAME2</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-3">
            <p id="ps1">POSTS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-3">
            <p id="ps1">DURATION</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-3">
            <p id="ps1">RESOLUTION</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
        <div id='row2' class="row drillrow">
          <div class="col-md-6">
            <p id="ps1">SYMPTOMS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
          <div class="col-md-6">
            <p id="ps1">TOOLS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
        <div id='row3' class="row drillrow">
          <div class="col-md-12">
            <p id="ps1">DESCRIPTION</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
        <div id='row4' class="row drillrow">
          <div class="col-md-12">
            <p id="ps1">POSTS</p><hr>
            <p id="ps2">"text text"</p>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script src='js/parcords.js'></script>
  <script src='js/divgrid.js'></script>


</html>
